{{#link-to "adminApiKeys.index" class="go-back"}}
  {{d-icon "arrow-left"}}
  {{i18n "admin.api.all_api_keys"}}
{{/link-to}}

<div class="api-key">
  {{#if model.id}}
    {{#admin-form-row label="admin.api.key"}}
      <div>{{model.key}}</div>
    {{/admin-form-row}}
    {{#admin-form-row}}
      {{i18n "admin.api.not_shown_again"}}
    {{/admin-form-row}}
    {{#admin-form-row}}
      {{d-button icon="angle-right" label="admin.api.continue" action=(action "continue") class="btn-primary"}}
    {{/admin-form-row}}
  {{else}}
    {{#admin-form-row label="admin.api.description"}}
      {{input value=model.description maxlength="255" placeholder=(i18n "admin.api.description_placeholder")}}
    {{/admin-form-row}}

    {{#admin-form-row label="admin.api.user_mode"}}
      {{combo-box content=userModes value=userMode onChange=(action "changeUserMode")}}
    {{/admin-form-row}}

    {{#if showUserSelector}}
      {{#admin-form-row label="admin.api.user"}}
        {{user-selector single="true"
          usernames=model.username
          placeholderKey="admin.api.user_placeholder"
          }}
      {{/admin-form-row}}
    {{/if}}

    {{#admin-form-row label="admin.api.use_scopes"}}
      {{combo-box content=scopesMode value=useScopes onChange=(action (mut useScopes))}}
    {{/admin-form-row}}

    {{#if showScopes}}
      {{#admin-form-row label="admin.api.new_scope"}}
        {{combo-box
          search=searchEndpoints
          options=(hash autoFilterable=true)
          value=scopeID
          onChange=(action "setScope")
          }}
        {{d-button icon="plus" action=(action "buildScope") class="btn-primary"}}
      {{/admin-form-row}}

      <br>
      <h2>{{i18n "admin.api.selected_scopes"}}</h2>

      <table>
        <thead>
          <th>{{i18n "admin.api.scope_attributes.action"}}</th>
          <th>{{i18n "admin.api.scope_attributes.path"}}</th>
          <th>{{i18n "admin.api.scope_attributes.method"}}</th>
          {{#if complexScopes}}
            <th>{{i18n "admin.api.scope_attributes.allowed_parameters"}}</th>
          {{/if}}
          <th></th>
        </thead>
        <tbody>
          {{#each model.scopes as |scope|}}
            <tr>
              <td>{{scope.action}}</td>
              <td>{{scope.path}}</td>
              <td>{{scope.method}}</td>
              {{#if complexScopes}}
                <td>
                  {{#each scope.parameters as |p|}}
                    <div>
                      {{input value=(get scope p) maxlength="255" placeholder=p}}
                    </div>
                  {{/each}}
                </td>
              {{/if}}
              <td>
                {{d-button icon="times" action=(action "removeScope" scope) class="btn-danger"}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}

    <br>
    {{d-button icon="check" label="admin.api.save" action=(action "save") class="btn-primary" disabled=saveDisabled}}
  {{/if}}
</div>